<h3>Using Form Group with Form Control Name</h3>

<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        placeholder="Title"
        formControlName="title"
        required
      />
      <div class="error-msg" *ngIf="submitted && f.title.errors">
        <div *ngIf="f.title.errors?.['required']">*Title is required.</div>
      </div>
    </div>

    <div class="field">
      <label for="firstname">First Name</label>
      <input
        type="text"
        id="firstname"
        placeholder="Write First Name"
        formControlName="firstName"
      />
      <div class="error-msg" *ngIf="submitted && f.firstName.errors">
        <div *ngIf="f.firstName.errors?.['required']">
          *First Name Required.
        </div>
      </div>
    </div>
    <div class="field">
      <label for="lastname">Last Name</label>
      <input
        type="text"
        id="lastname"
        placeholder="Write Last Name"
        formControlName="lastName"
      />
      <div class="error-msg" *ngIf="submitted && f.lastName.errors">
        <div *ngIf="f.lastName.errors?.['required']">*Last Name required.</div>
      </div>
    </div>
    <div>
      <input type="checkbox" id="term" formControlName="acceptTerm" />
      <label for="term">I accpet the term & conditions.</label>
    </div>
    <div class="error-msg" *ngIf="submitted && f.acceptTerm.errors">
      <div *ngIf="f.acceptTerm.errors?.['required']">*Accept Term required.</div>
    </div>
    <div class="button-panel">
      <button type="submit">Submit</button>
    </div>
  </form>

  <hr />

  <h3>Using Form Group with Form Control</h3>
  <!-- <form (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="title">Title</label>
      <input type="text" id="title" [formControl]="f.title" />
    </div>
    <div class="field">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" [formControl]="f.firstName" />
    </div>
    <div class="field">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" [formControl]="f.lastName" />
    </div>
    <div>
      <input type="checkbox" id="acceptTerm" [formControl]="f.acceptTerm" />
      <label for="acceptTerm"> I accept Terms & Condition.</label>
    </div>
    <div class="button-panel">
      <button type="submit">Submit</button>
    </div>
  </form> -->
  <pre>
    {{ userForm.value | json }}
  </pre>
</div>
