form {
  width: 300px;
}

.field {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.field label {
  width: 120px;
  margin-bottom: 10px;
}

.field input {
  width: 100%;
}

.button-panel {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.error-msg{
  color: red;
  font-weight: 500;
  margin-top: 10px;
}