<h3>Form Practise</h3>

<div class="container">
  <form>
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" placeholder="Title" />
    </div>
    <div>
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" placeholder="Write First Name" />
    </div>
    <div>
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" placeholder="Write Last Name" />
    </div>
    <div>
      <input type="checkbox" id="term" />
      <label for="term">I accpet the term & conditions.</label>
    </div>
  </form>
</div>
